 * {
   background-color: lightblue;
 }

 ul {
   padding-left: 0;
 }

 li {
   position: relative;
 }

 .menu {
   display: block;
   width: 100px;
 }

 a {
   display: block;
   background-color: rgb(105, 187, 37);
   white-space: nowrap;
   padding: 1em;
   border: 1px solid black;
 }

 .menu li a:hover {
   background: rgb(85, 85, 196);
   color: white;
 }

 .submenu,
 .submenu2 {
   width: 100px;
   list-style: none;
   position: absolute;
   left: 100px;
   display: none;
   flex-direction: column;
   white-space: nowrap;
 }

 li:hover>.submenu {
   display: flex;
   top: 0;
 }

 li:hover>.submenu2 {
   display: flex;
   top: 0;
 }