.one {
  margin: auto;
  margin-top: 36px;
  width: 20%;
  height: 60px;
  background: green;
}

.two {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.block {
  margin: 26px;
  width: 15%;
  height: 150px;
  background: olive;
}

.three {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.blockk {
  margin: 0px;
  width: 15%;
  height: 170px;
  background: red;
}

.blockk.two {
  background: blue;
}

.blockk.three {
  background: yellow;
}

.four {
  margin: auto;
  margin-top: 45px;
  width: 45%;
  height: 55px;
  background: gray;
}